<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common-layout :: head">
</head>
<body>
<div th:replace="/common-layout :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ul th:replace="/common-layout :: left-sidebar"></ul>
        </div>
        <div class="col-11">
            <div class="container-fluid">
                <div class="row m-4 d-flex">
                    <div class="col-2">
                        <a th:href="@{/customer/create}" class="btn btn-success">
                            Add new customer
                        </a>
                    </div>
                    <div class="col-2">
                        <button th:onclick="getIdMultiple()" type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#modalDeleteMultiple">
                            Delete Multiple
                        </button>
                    </div>
                </div>
                <form class="d-flex m-4">
                    <input class="form-control me-2" type="search" placeholder="Search by customer name" aria-label="Search" name="customerName">
                    <input class="form-control me-2" type="search" placeholder="Search by customer phone" aria-label="Search" name="customerPhone">
                    <select name="customerTypeId">
                        <option selected value="">Select customer type</option>
                        <option th:each="customerType : ${customerTypes}" th:value="${customerType.customerTypeId}"
                                th:text="${customerType.customerTypeName}"></option>
                    </select>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div class="d-flex m-4">
                    <p class="text-success">
                        Hiện tại đang có: <span th:text="${customers.getTotalElements()}"></span> khách hàng
                    </p>
                </div>
                <div class="container-fluid">
                    <table class="table table-striped table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th>Id card</th>
                            <th>Phone</th>
                            <th>Customer type</th>
                            <th>Detail</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="customer : ${customers}">
                            <td th:text="${customer.customerName}"></td>
                            <td th:text="${customer.customerBirthday}"></td>
                            <td th:text="${customer.customerIdCard}"></td>
                            <td th:text="${customer.customerPhone}"></td>
                            <td th:if="${customer.customerType}" th:text="${customer.customerType.customerTypeName}"></td>
                            <td th:unless="${customer.customerType}"></td>
                            <td>
                                <button type="button" th:onclick="|showDetailCustomer('${customer.customerId}')|"
                                        class="btn btn-primary"><i class="fas fa-info-circle"></i></button>
                            </td>
                            <td>
                                <a th:href="@{/customer/edit/{id} (id=${customer.customerId})}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                <button type="button" th:onclick="|showCustomerForDelete('${customer.customerId}')|"
                                        class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                <input type="checkbox" th:value="${customer.customerId}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <a th:if="${customers.hasPrevious()}" class="btn btn-light"
               th:href="@{'/customer'(page=${customers.number - 1},customerName=${customerName},customerPhone=${customerPhone},customerTypeId=${customerTypeId})}">Previous</a>
            <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
            <a th:if="${customers.hasNext()}" class="btn btn-light"
               th:href="@{'/customer'(page=${customers.number + 1},customerName=${customerName},customerPhone=${customerPhone},customerTypeId=${customerTypeId})}">Next</a>
        </div>
    </div>
</div>
</div>

<!-- Modal view detail -->
<div class="modal hide fade" id="modalViewCustomerId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Customer detail</h5>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="customerId">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="customerCode" class="form-label">Code: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="customerCode" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="customerName" class="form-label">Name: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="customerName" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="customerBirthday" class="form-label">Birthday: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="customerBirthday" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="customerGender" class="form-label">Gender: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="customerGender" disabled>

                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="customerIdCard" class="form-label">Id card: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="customerIdCard" disabled>

                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="customerPhone" class="form-label">Phone: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="customerPhone" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="customerEmail" class="form-label">Email: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="customerEmail" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="customerAddress" class="form-label">Address: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="customerAddress" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="customerType" class="form-label">Customer type: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="customerType" disabled>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button th:onclick="|deleteByModalAfterAjax()|" type="button" id="buttonDelete"
                        class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                    Delete
                </button>
                <button type="button" onclick="closeModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="formDelete" th:action="@{/customer/delete}" hidden>
                    <input type="text" name="idCustomer" id="idCustomer">
                </form>
                Are you sure delete this customer ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" th:onclick="submitForm()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete multiple-->
<div class="modal fade" id="modalDeleteMultiple" tabindex="-1" aria-labelledby="deleteMultipleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteMultipleModalLabel">Confirm delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="formDeleteMultiple" th:action="@{/customer/deleteMultiple}" hidden>
                    <input type="text" name="idCustomerMultiple" id="idCustomerMultiple">
                </form>
                Are you sure delete this multiple customer ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" th:onclick="submitFormDeleteMultiple()">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="/common-layout :: footer"></div>

<script>
    function deleteByModal(id) {
        document.getElementById("idCustomer").value = id;
    }

    function submitForm() {
        document.getElementById("formDelete").submit();
    }

    function deleteByModalAfterAjax () {
        document.getElementById("idCustomer").value = document.getElementById("customerId").value;
    }

    function getIdMultiple() {
        var array = [];
        var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');

        for (var i = 0; i < checkboxes.length; i++) {
            array.push(checkboxes[i].value);
        }
        for(let i=0;i<array.length;i++){
            document.getElementById("idCustomerMultiple").value += array[i] + ",";
        }
    }

    function submitFormDeleteMultiple() {
        document.getElementById("formDeleteMultiple").submit();
    }
</script>

<script type="text/javascript">
    function showCustomer(id, string) {
        $.ajax ({
            headers:{
                'Accept': "application/json",
                'Content-Type': "application/json"
            },
            type: "GET",
            url: "/customer/view/" + id,
            success: function (customer) {
                document.getElementById("customerId").value = customer.customerId
                document.getElementById("customerCode").value = customer.customerCode
                document.getElementById("customerName").value = customer.customerName
                document.getElementById("customerBirthday").value = customer.customerBirthday
                switch (customer.customerGender) {
                    case 0:
                        document.getElementById("customerGender").value = "Nam";
                        break;
                    case 1:
                        document.getElementById("customerGender").value = "Nữ";
                        break
                    case 2:
                        document.getElementById("customerGender").value = "Khác";
                        break
                }
                document.getElementById("customerIdCard").value = customer.customerIdCard
                document.getElementById("customerPhone").value = customer.customerPhone
                document.getElementById("customerEmail").value = customer.customerEmail
                document.getElementById("customerAddress").value = customer.customerAddress
                document.getElementById("customerType").value = customer.customerType.customerTypeName

                $('#modalViewCustomerId').modal('show');

                if (string == 'detail') {
                    $('#buttonDelete').hide();
                } else {
                    $('#buttonDelete').show();
                }

            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    function closeModal() {
        $('#modalViewCustomerId').modal('hide');
    }
    function showCustomerForDelete(id) {
        let stringDelete = 'delete';
        showCustomer(id, stringDelete);
    }
    function showDetailCustomer(id) {
        let stringDetail = 'detail';
        showCustomer(id, stringDetail);
    }
</script>
</body>
</html>