<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common-layout :: header">
</head>
<body>
<div th:replace="/common-layout :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <ul th:replace="/common-layout :: left-sidebar"></ul>
        </div>
        <div class="col-10">
            <div class="container-fluid">
                <h3>User Management</h3>
                <a th:href="@{/user/create}" class="btn btn-success">
                    Add new user
                </a>
                <p th:if="${message}">
                    <span th:text="${message}"></span>
                </p>
                <div class="container">
                    <table class="table table-striped table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Phone number</th>
                            <th>Age</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.phoneNumber}"></td>
                            <td th:text="${user.age}"></td>
                            <td th:text="${user.email}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>