<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common-layout :: head">
</head>
<body>
<div th:replace="/common-layout :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ul th:replace="/common-layout :: left-sidebar"></ul>
        </div>
        <div class="col-11">
            <div class="container-fluid">
                <div class="row m-4 d-flex">
                    <div class="col-12">
                        <h3>Create new division</h3>
                    </div>
                </div>
                <div class="row m-4 d-flex">
                    <div class="col-5">
                        <a th:href="@{/division}" class="btn btn-success">
                            Back to list division
                        </a>
                    </div>
                </div>
                <div class="row m-4 d-flex">
                    <div class="col-6">
                        <form th:action="@{/division/save}" th:object="${division}" method="post">
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="divisionName" class="form-label">Division name: </label>
                                    </div>
                                    <div class="col-9">
                                        <input type="text" class="form-control" id="divisionName" th:field="*{divisionName}">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-3"></div>
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/common-layout :: footer"></div>
</body>
</html>