<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common-layout :: head">
</head>
<body>
<div th:replace="/common-layout :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ul th:replace="/common-layout :: left-sidebar"></ul>
        </div>
        <div class="col-11">
            <div class="container-fluid">
                <div class="row m-4 d-flex">
                    <div class="col-12">
                        <h3>User management</h3>
                    </div>
                </div>
                <div class="row m-4 d-flex">
                    <div class="col-5">
                        <a th:href="@{/user/create}" class="btn btn-success">
                            Create new user
                        </a>
                    </div>
                </div>
                <div class="container">
                    <table class="table table-striped table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>No.</th>
                            <th>Username</th>
                            <th>Password</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user, itemStatus : ${users}">
                            <td th:text="${itemStatus.count}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.password}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/common-layout :: footer"></div>
</body>
</html>