<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/common-layout :: head">
</head>
<body>
<div th:replace="/common-layout :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ul th:replace="/common-layout :: left-sidebar"></ul>
        </div>
        <div class="col-11">
            <div class="container-fluid">
                <div class="row m-4 d-flex">
                    <div class="col-2">
                        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                            <a th:href="@{/employee/admin/create}" class="btn btn-success">
                                Add new employee
                            </a>
                        </div>
                    </div>
                    <div class="col-2">
                        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                            <button th:onclick="getIdMultiple()" type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#modalDeleteMultiple">
                                Delete Multiple
                            </button>
                        </div>
                    </div>
                </div>
                <form class="d-flex m-4">
                    <input class="form-control me-2" type="search" placeholder="Search by employee name" aria-label="Search" name="employeeName">
                    <input class="form-control me-2" type="search" placeholder="Search by employee phone" aria-label="Search" name="employeePhone">
                    <select name="positionId">
                        <option selected value="">Select position</option>
                        <option th:each="position : ${positions}" th:value="${position.positionId}"
                                th:text="${position.positionName}"></option>
                    </select>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div class="d-flex m-4">
                    <p class="text-success">
                        Hiện tại đang có: <span th:text="${employees.getTotalElements()}"></span> nhân viên
                    </p>
                </div>
                <div class="container-fluid">
                    <table class="table table-striped table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th>Id card</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th>Detail</th>
                            <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                                <th>Edit</th>
                                <th>Delete</th>
                            </div>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="employee : ${employees}">
                            <td th:text="${employee.employeeName}"></td>
                            <td th:text="${employee.employeeBirthday}"></td>
                            <td th:text="${employee.employeeIdCard}"></td>
                            <td th:text="${employee.employeePhone}"></td>
                            <td th:text="${employee.employeeEmail}"></td>
                            <td th:if="${employee.position}" th:text="${employee.position.positionName}"></td>
                            <td th:unless="${employee.position}"></td>
                            <td>
                                <button type="button" th:onclick="|showDetailEmployee('${employee.employeeId}')|"
                                        class="btn btn-primary"><i class="fas fa-info-circle"></i></button>
                            </td>
                            <td>
                                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                                    <a th:href="@{/employee/admin/edit/{id} (id=${employee.employeeId})}"
                                       class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                </div>
                            </td>
                            <td>
                                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                                    <button th:onclick="|deleteByModal('${employee.employeeId}')|" type="button"
                                            class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <input type="checkbox" th:value="${employee.employeeId}">
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <a th:if="${employees.hasPrevious()}" class="btn btn-light"
               th:href="@{'/employee'(page=${employees.number - 1},employeeName=${employeeName},employeePhone=${employeePhone},positionId=${positionId})}">Previous</a>
            <span th:text="${employees.number + 1}"></span>/<span th:text="${employees.totalPages}"></span>
            <a th:if="${employees.hasNext()}" class="btn btn-light"
               th:href="@{'/employee'(page=${employees.number + 1},employeeName=${employeeName},employeePhone=${employeePhone},positionId=${positionId})}">Next</a>
        </div>
    </div>
    </div>
</div>

<!-- Modal view detail -->
<div class="modal hide fade" id="modalViewEmployeeId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Employee detail</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="employeeName" class="form-label">Name: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="employeeName" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="employeeBirthday" class="form-label">Birthday: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="employeeBirthday" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="employeeIdCard" class="form-label">Id card: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="employeeIdCard" disabled>

                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="employeeSalary" class="form-label">Salary: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="employeeSalary" disabled>

                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="employeePhone" class="form-label">Phone: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="employeePhone" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="employeeEmail" class="form-label">Email: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="employeeEmail" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="employeeAddress" class="form-label">Address: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="employeeAddress" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="position" class="form-label">Position: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="position" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="educationDegree" class="form-label">Education degree: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="educationDegree" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="division" class="form-label">Division: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="division" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                <label for="user" class="form-label">User: </label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="user" disabled>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="closeModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="formDelete" th:action="@{/employee/admin/delete}" hidden>
                    <input type="text" name="idEmployee" id="idEmployee">
                </form>
                Are you sure delete this employee ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" th:onclick="submitForm()">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete multiple-->
<div class="modal fade" id="modalDeleteMultiple" tabindex="-1" aria-labelledby="deleteMultipleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteMultipleModalLabel">Confirm delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="formDeleteMultiple" th:action="@{/employee/admin/deleteMultiple}" hidden>
                    <input type="text" name="idEmployeeMultiple" id="idEmployeeMultiple">
                </form>
                Are you sure delete this multiple employee ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" th:onclick="submitFormDeleteMultiple()">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="/common-layout :: footer"></div>

<script>
    function deleteByModal(id) {
        document.getElementById("idEmployee").value = id;
    }

    function submitForm() {
        document.getElementById("formDelete").submit();
    }

    function getIdMultiple() {
        var array = [];
        var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');

        for (var i = 0; i < checkboxes.length; i++) {
            array.push(checkboxes[i].value);
        }
        for(let i=0;i<array.length;i++){
            document.getElementById("idEmployeeMultiple").value += array[i] + ",";
        }
    }

    function submitFormDeleteMultiple() {
        document.getElementById("formDeleteMultiple").submit();
    }

</script>

<script type="text/javascript">
    function showDetailEmployee(id) {
        $.ajax ({
            headers:{
                'Accept': "application/json",
                'Content-Type': "application/json"
            },
            type: "GET",
            url: "/employee/view/" + id,
            success: function (employee) {
                document.getElementById("employeeName").value = employee.employeeName
                document.getElementById("employeeBirthday").value = employee.employeeBirthday
                document.getElementById("employeeIdCard").value = employee.employeeIdCard
                document.getElementById("employeeSalary").value = employee.employeeSalary
                document.getElementById("employeePhone").value = employee.employeePhone
                document.getElementById("employeeEmail").value = employee.employeeEmail
                document.getElementById("employeeAddress").value = employee.employeeAddress
                document.getElementById("position").value = employee.position.positionName
                document.getElementById("educationDegree").value = employee.educationDegree.educationDegreeName
                document.getElementById("division").value = employee.division.divisionName
                document.getElementById("user").value = employee.user.username
                $('#modalViewEmployeeId').modal('show');
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    function closeModal() {
        $('#modalViewEmployeeId').modal('hide');
    }
</script>
</body>
</html>