<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <h3>Add new mark</h3>
    <p>
        <a th:href="@{/mark}">
            Back to list mark
        </a>
    </p>
    <div class="row">
        <div class="col-6">
            <form th:action="@{/mark/save}" th:object="${mark}" method="post">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                            <label for="student" class="form-label">Student: </label>
                        </div>
                        <div class="col-9">
                            <select th:field="*{student}" id="student">
                                <option selected value="">Select</option>
                                <option th:each="s : ${students}" th:value="${s.id}"
                                        th:text="${s.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                            <label for="subject" class="form-label">Subject: </label>
                        </div>
                        <div class="col-9">
                            <select th:field="*{subject}" id="subject">
                                <option selected value="">Select</option>
                                <option th:each="su : ${subjects}" th:value="${su.id}"
                                        th:text="${su.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                            <label for="point" class="form-label">Point</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" id="point" th:field="*{point}">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>