<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Song Management</h3>
<p>
    <a th:href="@{/song/create}">
        Add new song
    </a>
</p>
<p th:if="${message}">
    <span th:text="${message}"></span>
</p>
<table id="songList">
    <thead>
    <tr>
        <th>Name</th>
        <th>Artist</th>
        <th>Kind of music</th>
        <th>Song path</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songList}">
        <td th:text="${song.name}"></td>
        <td th:text="${song.artist}"></td>
        <td th:text="${song.kindOfMusic}"></td>
        <td><a th:href="@{'D:/song/' + ${song.songPath}}"><span th:text="${song.name}"></span></a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>